<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <h1>로그인 페이지</h1>
<!-- 파라미터로 객체에 해당하는 정보를 보낼거면 DTO의 필드 가져가기 -->
<!-- 2개이상 객체로 받는다 -->
<!-- 1개는 단위로 받는다: 일때는 필드명이 아니여도 상관없음 .. xxx ,yyy써도 상관없음 -->

    <form action="/user/loginProcess" method="post">
    아이디: <input name="accountName" type="text"><br>
    비밀번호: <input name="password" type="password"><br>
    <button>로그인</button><br>
    </form>

    <a href="/user/registerPage">회원가입</a>
   
</body>
</html>
