<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그는 html아님 Mybatis용 전용 태그 -->
<!-- namespace에는 Mybatis와 결합될 인터페이스명을 써야함, 근데 패키지명까지 포함임 import 옆에 있는거 붙여넣기 -->
<!-- id는 해당 인터페이스에서 제공하는 메서드명 , 그리고 그 메서드가 실행됬을때 사용될 쿼리를 작성하면됨  -->
<mapper namespace="com.ca.finalproject.user.mapper.UserSqlMapper">
    <insert id="createUser">
    INSERT INTO fp_user(
        account_name,
        password,
        nickname,
        email,
        gender,
        birth,
        phone)
    VALUES (#{accountName},#{password},#{nickname},
        #{email},#{gender},#{birth},#{phone})
  
    </insert>

    <!-- select인 경우 result타입을 꼭 설정해야한다!! -->
    <!-- SQL 조회 결과를 어떤 Java 객체(DTO)에 매핑할지를 지정하는 것 -->
    <select id="findUserByAccountNameAndPassword" resultType="com.ca.finalproject.dto.UserDto">
        SELECT * FROM fp_user fu 
        WHERE fu.account_name = #{accountName} AND fu.password = #{password}
    </select>

    <select id="findUserById" resultType="com.ca.finalproject.dto.UserDto">
        SELECT * FROM fp_user fu 
        WHERE fu.id = #{id}
    </select>
</mapper>
    <!-- #은 Mybatis에서 제공하는 문법임 , 변수가 되는 구간들을 #으로 셋팅 -->
    <!-- VALUES 내부에는 DTO필드명으로 작성, 작은따옴표'도 빼야함   -->
    <!-- 세미클론 써도되고 안써도된다는데 gpt로 확인하기  -->